@import 'reset.css';
@import 'navigation.css';
@import 'home.css';
@import 'album.css';
@import 'merch.css';


/* Global Styles */
body {
    font-family: 'Cormorant', serif;
}

/* Navbar */
.navbar {
    background: transparent;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.2);
}

.nav-brand {
    flex: 1;
    display: flex;
}

.nav-logo {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: auto;
    transition: transform 0.3s ease;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-links a {
    color: #79614E;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 0;
    background: transparent;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/main_poster.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.cta-button {
    display: block;
    margin-top: 70vh; 
    margin-left: auto;
    margin-right: auto;
    max-width: 250px; /* Add this line to make button smaller */
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeInUp 1s ease 0.4s;
    animation-fill-mode: backwards;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }
    
    .nav-links {
        gap: 1.5rem;
    }
    
    .album-title {
        font-size: 2.5rem;
    }
    
    .merch-grid {
        grid-template-columns: 1fr;
    }
}
